.movie_container{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.buttons_container {
  display: flex;
  justify-content: center;
}

.genre_button{
  margin: 10px;
}

.button_container{
  text-align: center;
}

.find_movieButton{
  border-radius: 5px;
  background-color: rgb(22, 214, 240);
  text-align: center;
  font-size: 1.2rem;
  color: black;
  font-weight: 800;
  padding: 20px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.find_movieButton:active {
  transform: translateY(4px);
}

.movie_display{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  display: flex;
  color: black;
}

.movie_image{
  border-radius: 10px;
  height: 13em;
  width: auto;
  align-self: center;
}

.movieInfo{
  width: 80%;
  margin: auto;
}

.movieTitle{
  font-size: 5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.movieDescription{
  text-indent: 3rem;
  font-size: 1.3rem;
  line-height: 2.4rem;
}

.noMovieFound{
  text-align: center;
}