.header_container{
  text-align: center; 
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  opacity: .9;
}

.header{
  color: red;
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
}

.header_text{
  color: rgb(243, 86, 235);
  font-weight: 800;
}
