.header_container{
  background-color: lightblue;
  text-align: center; 
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.header{
  color: yellow;
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
}

.header_text{
  color: black;
  font-weight: 800;
}