body {
  background-image: url(movieChairs.jpg);
  background-size: cover;
  margin: auto;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}