.movie_container{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.buttons_container {
  display: flex;
  justify-content: center;
}

.genre_button{
  margin: 10px;
}

.button_container{
  text-align: center;
}

.find_movieButton{
  width: 250px;
  height: 250px;
  /* border-radius: 50%; */
  background-color: red;
  text-align: center;
  font-size: 34px;
  color: black;
  font-weight: 800;
}