.movie_container{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.buttons_container {
  display: flex;
  justify-content: center;
}

.genre_button{
  margin: 10px;
}

.button_container{
  text-align: center;
}

.find_movieButton{
  border-radius: 5px;
  background-color: rgb(39, 136, 216);
  text-align: center;
  font-size: 1.2rem;
  color: black;
  font-weight: 800;
  padding: 20px;
  margin-top: 20px;
}

.find_movieButton:active {
  transform: translateY(4px);
}

.movie_display{
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 1.5rem;
  display: flex;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  color: white;
}

.movie_image{
  border-radius: 10px;
  object-fit: contain;
  margin-bottom: 15px;
}

.movieDescription{
  
}