.header-container {
  font-size: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.header {
  color: rgb(214, 103, 220);
  margin: 0;
  padding: 0;
}

.sub-header {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: rgb(214, 103, 220);
}
